--- Day 3: Toboggan Trajectory ---
With the toboggan login problems resolved, you set off toward the airport. While travel by toboggan might be easy, it's certainly not safe: there's very minimal steering and the area is covered in trees. You'll need to see which angles will take you near the fewest trees.

Due to the local geology, trees in this area only grow on exact integer coordinates in a grid. You make a map (your puzzle input) of the open squares (.) and trees (#) you can see. For example:

..##.......
#...#...#..
.#....#..#.
..#.#...#.#
.#...##..#.
..#.##.....
.#.#.#....#
.#........#
#.##...#...
#...##....#
.#..#...#.#
These aren't the only trees, though; due to something you read about once involving arboreal genetics and biome stability, the same pattern repeats to the right many times:

..##.........##.........##.........##.........##.........##.......  --->
#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....#..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..#...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.##.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........#.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...##....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
You start on the open square (.) in the top-left corner and need to reach the bottom (below the bottom-most row on your map).

The toboggan can only follow a few specific slopes (you opted for a cheaper model that prefers rational numbers); start by counting all the trees you would encounter for the slope right 3, down 1:

From your starting position at the top-left, check the position that is right 3 and down 1. Then, check the position that is right 3 and down 1 from there, and so on until you go past the bottom of the map.

The locations you'd check in the above example are marked here with O where there was an open square and X where there was a tree:

..##.........##.........##.........##.........##.........##.......  --->
#..O#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....X..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#O#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..X...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.X#.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#.O..#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........X.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.X#...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...#X....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...X.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
In this example, traversing the map using this slope would cause you to encounter 7 trees.

Starting at the top-left corner of your map and following a slope of right 3 and down 1, how many trees would you encounter?

Your puzzle answer was 286.

The first half of this puzzle is complete! It provides one gold star: *

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users\Loren/Desktop/advent_of_code_day3.txt', 
                header=None)

In [3]:
df.head()

                                 0
0  ..#.......#..##...#...#..#.#...
1  ..##..#..#.....#.........#....#
2  ...#.##..#.#......#.#....#.....
3  ...#.....#......#...#..........
4  .......#.#..#..#....##....##...

In [4]:
#to avoid running out of horizontal space on the way down - repeat pattern to the right..
df[0] = df[0]*10000
df.head()

                                                   0
0  ..#.......#..##...#...#..#.#.....#.......#..##...
1  ..##..#..#.....#.........#....#..##..#..#........
2  ...#.##..#.#......#.#....#........#.##..#.#......
3  ...#.....#......#...#.............#.....#........
4  .......#.#..#..#....##....##..........#.#..#.....

In [5]:
df.columns

Int64Index([0], dtype='int64')

In [6]:
df_str = df[0].astype(str)
df_str.head(20)

0     ..#.......#..##...#...#..#.#.....#.......#..##...
1     ..##..#..#.....#.........#....#..##..#..#........
2     ...#.##..#.#......#.#....#........#.##..#.#......
3     ...#.....#......#...#.............#.....#........
4     .......#.#..#..#....##....##..........#.#..#.....
5     .#......#......#.#..#....#.#....#......#.........
6     .#..........#.....###.##..#.#...#..........#.....
7     ....#...##...........#.............#...##........
8     ##......#.#...#...#....##.#...###......#.#...#...
9     .....#.....#.#..#....###...#..#.....#.....#.#....
10    .#....#.........#...#.......#.#.#....#...........
11    .##......#.#.........#....#.#...##......#.#......
12    ...#........###..#......##....#...#........###...
13    .#.....###..........#...#....##.#.....###........
14    ............#......#...#...#..#............#.....
15    .....#.#....#.#.#...........#.#.....#.#....#.#...
16    ....#.....#...##.##.....###..#.....#.....#...#...
17    .....#.##......#.##.#...#.#.#.......#.##.........
18    ##.....#.##.##....#..##......#.##.....#.##.##....
19    .....#.....#........#........##.....#.....#......
Name: 0, dtype: object

In [7]:
#test
df_str[1][:5]

'..##.'

In [8]:
position = df_str[0][0] #down #right

#trees and spaces
tree = '#'
space = '.'

#start
row=0
char=0
trees_hit=0

#slope per move
r=3 #right
d=1 #down

while (row < (df_str.shape[0])) & (char < (len(df_str[0]))):  
    position = df_str[row][char]    
    char += r #right move
    row += d
    if position == tree:
        trees_hit += 1

print(trees_hit)

286

Part 2

--- Part Two ---
Time to check the rest of the slopes - you need to minimize the probability of a sudden arboreal stop, after all.

Determine the number of trees you would encounter if, for each of the following slopes, you start at the top-left corner and traverse the map all the way to the bottom:

Right 1, down 1.
Right 3, down 1. (This is the slope you already checked.)
Right 5, down 1.
Right 7, down 1.
Right 1, down 2.
In the above example, these slopes would find 2, 7, 3, 4, and 2 tree(s) respectively; multiplied together, these produce the answer 336.

What do you get if you multiply together the number of trees encountered on each of the listed slopes?

Your puzzle answer was 3638606400.

Both parts of this puzzle are complete! They provide two gold stars: **

In [10]:
#more slopes - format [right, down]
list_of_slopes = [[1,1],
                  [3,1],
                  [5,1],
                  [7,1],
                  [1,2]]

In [21]:
trees_hit_per_slope = []

for slope in list_of_slopes:
    position = df_str[0][0] #down #right

    #trees and spaces
    tree = '#'
    space = '.'

    #start
    row = 0
    char = 0
    trees_hit = 0
    
    #slope per move
    r = slope[0] #right
    d = slope[1] #down

    while (row < (df_str.shape[0])) & (char < (len(df_str[0]))):  
        position = df_str[row][char]    
        char += r #right move
        row += d
        if position == tree:
            trees_hit += 1
    trees_hit_per_slope.append(trees_hit)
print('slopes: ' + str(list_of_slopes) + ' trees hit by slope: ' + str(trees_hit_per_slope))  

#function to required answer - multiplying trees hit per slope together
def multiply_list(trees_hit_per_slope) :  
    # Multiply elements one by one
    result = 1
    for x in trees_hit_per_slope:
         result = result * x 
    return result 
     
result = multiply_list(trees_hit_per_slope) 
print('answer = ' + str(result))

slopes: [[1, 1], [3, 1], [5, 1], [7, 1], [1, 2]] trees hit by slope: [60, 286, 76, 62, 45]
answer = 3638606400

In [16]:
#manual check
60*286*76*62*45

3638606400