--- Day 1: Report Repair ---
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456
In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

Your puzzle answer was 365619.

The first half of this puzzle is complete! It provides one gold star: *

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users\Loren/Desktop/advent_of_code.csv')

In [4]:
df.head()

   expense
0     1786
1      571
2     1689
3     1853
4     1817

In [10]:
for expense1 in df['expense']:
    for expense2 in df['expense']:
        to_check = expense1 + expense2
        if to_check == 2020:
            entry1 = expense1
            entry2 = expense2
print('first number is ' + str(entry1) + ' and second number is ' + str(entry2))
print('multiplied together =  ' + str(entry1 * entry2))

first number is 1819 and second number is 201
multiplied together =  365619

Part 2

--- Part Two ---
The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

Your puzzle answer was 236873508.

Both parts of this puzzle are complete! They provide two gold stars: **

In [11]:
for expense1 in df['expense']:
    for expense2 in df['expense']:
        for expense3 in df['expense']:
            to_check = expense1 + expense2 + expense3
            if to_check == 2020:
                entry1 = expense1
                entry2 = expense2
                entry3 = expense3
print('first number is ' + str(entry1) + ' and second number is ' + str(entry2) + ' and third number is ' + str(entry3))
print('multiplied together =  ' + str(entry1 * entry2 * entry3))

first number is 971 and second number is 701 and third number is 348
multiplied together =  236873508